Source: snapper
Section: utils
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends:
 btrfs-tools,
 debhelper (>= 10),
 dh-autoreconf,
 docbook-xsl,
 libacl1-dev,
 libboost-dev,
 libboost-thread-dev,
 libboost-test-dev,
 libdbus-1-dev,
 libmount-dev,
 libpam-dev,
 libxml2-dev,
 xsltproc,
 zlib1g-dev,
 e2fslibs-dev,
 locales-all,
Standards-Version: 3.9.8
Homepage: http://snapper.io/
Vcs-Git: https://anonscm.debian.org/git/collab-maint/snapper.git
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/snapper.git/

Package: snapper
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: btrfs-tools
Description: Linux filesystem snapshot management tool
 Snapper is a tool for Linux filesystem snapshot management. Apart from the
 obvious creation and deletion of snapshots, it can compare snapshots and revert
 differences between snapshots. In simple terms, this allows root and non-root
 users to view older versions of files and revert changes.
 .
 The features include:
   * Manually create snapshots
   * Automatically create snapshots, e.g. when using a package manager
   * Automatically create timeline of snapshots
   * Show and revert changes between snapshots
   * Works with btrfs, ext4 and thin-provisioned LVM volumes
   * Supports Access Control Lists and Extended Attributes
   * Automatic cleanup of old snapshots
   * Command line interface
   * D-Bus interface
   * PAM module to create snapshots during login and logout (libpam-snapper)

Package: libsnapper4
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Library for Linux filesystem snapshot management tool
 Snapper is a tool for Linux filesystem snapshot management. Apart from the
 obvious creation and deletion of snapshots, it can compare snapshots and revert
 differences between snapshots. In simple terms, this allows root and non-root
 users to view older versions of files and revert changes.
 .
 This package contains the runtime library for snapper, allowing the development
 of third-party tools.

Package: libsnapper-dev
Section: libdevel
Architecture: linux-any
Depends: ${misc:Depends}
Description: Library for Linux filesystem snapshot management tool (header files)
 Snapper is a tool for Linux filesystem snapshot management. Apart from the
 obvious creation and deletion of snapshots, it can compare snapshots and revert
 differences between snapshots. In simple terms, this allows root and non-root
 users to view older versions of files and revert changes.
 .
 This package contains the header files for libsnapper, allowing the development
 of third-party tools.

Package: libpam-snapper
Section: admin
Architecture: linux-any
Depends: snapper, ${misc:Depends}, ${shlibs:Depends}
Description: PAM module for Linux filesystem snapshot management tool
 Snapper is a tool for Linux filesystem snapshot management. Apart from the
 obvious creation and deletion of snapshots, it can compare snapshots and revert
 differences between snapshots. In simple terms, this allows root and non-root
 users to view older versions of files and revert changes.
 .
 This package contains the PAM library for snapper, which allows the
 administrator to take snapshots when an user logs in or out of the system.
